.text-center{
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    font-size: 22px;
}
.ic {
    float: right;
    color: red;
}
.left{
    float: right;
    font-size: 15px;
    font-weight: 600;
}