<div class="container">
    <div class="" mat-dialog-close="true">
        <h2 class="text-center p-0">
            Details
        <span class="ic"><mat-icon>close</mat-icon></span> </h2>
    </div>
    <hr>
    <div class="main">
        <div class="row mt-2">
            <div class="col-sm-6 left">Name  :--</div>
            <div class="col-sm-6 px-2">{{data.name}}</div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-6 left">Date of Birth  :--</div>
            <div class="col-sm-6">{{data.dob}}</div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-6 left">Email-Id  :--</div>
            <div class="col-sm-6">{{data.emailid}}</div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-6 left">Address  :--</div>
            <div class="col-sm-6">{{data.address}}</div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-6 left">SSC Percentage  :--</div>
            <div class="col-sm-6">{{data.sscpercentage}}</div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-6 left">Inter Percentage  :--</div>
            <div class="col-sm-6">{{data.interpercentage}}</div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-6 left">Degree Percentage  :--</div>
            <div class="col-sm-6">{{data.degreepercentage}}</div>
        </div>
    </div>
</div>
