mat-form-field{
    width: 80%;
    margin-left: 10%;
}
.form-control{
    width: 80%;
    margin-left: 10%;
}
.lbform{
    width:90%;
    margin-left:5%;
}
.mdform{
    width: 69%;
    margin-left: 15%;
}
.md-form{
    margin-left: 5%;   
}