<div class="container-fluid">
    <div class="row">
        <h3 class="title mt-4 px-4">Welcome SuperAdmin!</h3>
    </div>
    <div class="row mt-4 px-3">
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-comman w-100 mb-2">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-info">
                            <h6>Students</h6>
                            <h3>{{Students}}+</h3>
                        </div>
                        <div class="db-icon">
                            <img src="assets/images/studenticon.svg" alt="ffff">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-comman w-100 mb-2">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-info">
                            <h6>Departments</h6>
                            <h3>4+</h3>
                        </div>
                        <div class="db-icon">
                            <img src="assets/images/departmenticon.svg" alt="ffff">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-comman w-100 mb-2">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-info">
                            <h6>Officers</h6>
                            <h3>{{OfficerList}}+</h3>
                        </div>
                        <div class="db-icon">
                            <img src="assets/images/Sadminofficerlogo.png" alt="ffff" style="height:55px;width:55px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-comman w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-info">
                            <h6>Faculty</h6>
                            <h3>{{FacultyList}}</h3>
                        </div>
                        <div class="db-icon">
                            <img src="assets/images/Sadminfacultylogo.png" alt="ffff" style="height:55px;width:55px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 px-4">
        <div class="card bg-light w-100">
            <h3 class="quotes mt-2">Education is the Best Key success in life</h3>
        </div>
    </div>
</div>

  <footer class="text-center text-white" style="background-color: #caced1;">
    <div class="text-center p-3" style="background-color: black;">
        <span style="color: white;">© 2023 Copyright:</span>&nbsp;
        <a class="text" routerLink="/home">Bright Institute of Technology and Science</a>
      </div>
  </footer>