.title {
    text-align: center;
    font-family: 'Times New Roman';
    padding: 5px;
    margin: 0;

}

label {
    font-family: 'Times New Roman';
    font-size: 16px;
}

.btn1 {
    width: 30%;
    text-align: center;
    background-color: rgb(63, 61, 65);
    color: white;
    padding: 5px;
}

.btn1:hover {
    background-color: rgb(86, 82, 91);
    color: white;
}

th {
    padding: 20px;
}

td {
    padding: 10px;
}