.head {
    background-color: rgb(37, 7, 58);
}

.im {
    background-image: url('/assets/images/adminlogo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 697px;
}

.logo {
    width: 90%;
    border-radius: 50%;
    height: 50px;
}

.box2 {
    margin: 30px auto;
}

.card1 {
    background-color: #1A5276;
    color: white;
    border-radius: 10%;
}

.card2 {
    background-color: #1A1C76;
    color: white;
    border-radius: 10%;
}

.card3 {
    background-color: #239B56;
    color: white;
    border-radius: 10%;
}

.card4 {
    background-color: #1F618D;
    color: white;
    border-radius: 10%;
}

.card5 {
    background-color: #2E86C1;
    color: white;
    border-radius: 10%;
}

.card6 {
    background-color: rgb(88, 88, 239);
    color: white;
    border-radius: 10%;
}

.card7 {
    background-color: #9582f2;
    color: white;
    border-radius: 10%;
}

.btn {
    background-color: rgb(249, 248, 248);
    color: black;
    font-weight: bolder;
    width: 40%;
}