<div class="row">
    <div class="col-sm-12">
      <div class="card border-0">
        <div class="card-body p-3">
          <h3 class="text-center text-primary fs-5 p-1 fw-bold">Update Employee</h3>
          <hr>
          <form [formGroup]="EditEmpForm">
            <div class="row  p-4 ">
              <div class="col-sm-4 m-auto">
                <label>Photo<span class="text-danger">*</span></label>
                <input type="file" accept="image/*" class="form-control"
                    formControlName="photo" (change)="onSelectFile($event)">
              </div>
            
            <div class="col-sm-4" >
              <label>Officerid<span class="text-danger">*</span></label>
              <input type="text" class="form-control"  formControlName="empid">
            </div>
            <div class="col-sm-4">
              <label>OfficerName<span class="text-danger">*</span></label>
              <input type="text" class="form-control"  formControlName="name">
            </div>
          </div>
            <div class="row p-4 m-auto">
             
              <div class="col-sm-4">
                <label>EmailId<span class="text-danger">*</span></label>
                <input type="email" class="form-control"  formControlName="emailid">
              </div>
              <div class="col-sm-4">
                <label>Gender<span class="text-danger">*</span></label>
                <select class="form-select form-select-md" aria-label=".form-select-sm example"
                    formControlName="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="others">Others</option>
                </select>
            </div>
            <div class="col-sm-4">
              <label>Mobileno<span class="text-danger">*</span></label>
              <input type="mobile" class="form-control"  formControlName="mobileno">
            </div>
                 </div>
                 <div class="row p-4">
                  <div class="col-sm-4">
                    <label>Department<span class="text-danger">*</span></label>
                    <input type="mobile" class="form-control" 
                      formControlName="department">
                  </div>
                  <div class="col-sm-4">
                    <label>Date Of Birth<span class="text-danger">*</span></label>
                    <input type="date" class="form-control"  formControlName="dob">
                  </div>
                  <div class="col-sm-4">
                      <label>Designation<span class="text-danger">*</span></label>
                      <input type="text" class="form-control"  formControlName="designation">
                    </div>
                 </div>
                 <div class="row p-4">
                  <div class="col-sm-4">
                    <label>Experience<span class="text-danger">*</span></label>
                    <input type="mobile" class="form-control" 
                      formControlName="yearofexperience">
                  </div>
                  <div class="col-sm-4">
                    <label>Joining Date<span class="text-danger">*</span></label>
                    <input type="date" class="form-control" 
                        formControlName="joiningdate">
                </div>
                  <div class="col-sm-4">
                    <label>Address<span class="text-danger">*</span></label>
                    <input type="text" class="form-control"  formControlName="address">
                  </div>
                 </div>
          </form>
  </div>
  </div> 
    </div></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary me-2" mat-dialog-close data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="UpdateProfile()">Save changes</button>
        </div>
  