<div class="container">
    <h2 class="text-center mb-2">Apply For A Job</h2>
    <form [formGroup]="applyJobForm">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label >Name:</label>
                    <input type="text" class="form-control" formControlName="name">
                    </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label >HallTicket Number:</label>
                    <input type="text" class="form-control" formControlName="hallticket">
                    </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label >Branch:</label>
                    <input type="text" class="form-control" formControlName="branch">
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label >Email address:</label>
                    <input type="text" class="form-control" formControlName="emailid">
                    </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label >Mobile Number:</label>
                    <input type="text" class="form-control" formControlName="mobilenumber">
                    </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label >D.O.B:</label>
                    <input type="date" class="form-control" formControlName="dob">
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label >SSC %:</label>
                    <input type="text" class="form-control" formControlName="sscpercentage">
                    </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label >Inter %:</label>
                    <input type="text" class="form-control" formControlName="interpercentage">
                    </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label >Degree % (uptp):</label>
                    <input type="text" class="form-control" formControlName="degreepercentage">
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label >skills:</label>
                    <input type="text" class="form-control" formControlName="skills">
                    </div>
            </div>
            <div class="col-sm-6">
            <div class="form-group">
                <label >address:</label>
                <input type="text" class="form-control" formControlName="address">
                </div>
            </div>
        </div>
<hr>
<b>Company Details:</b>
<div class="row mt-4">
    <div class="col-sm-6">
        <div class="form-group">
            <label >Company Name:</label>
            <input type="text" class="form-control" formControlName="companyname">
            </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label >Job Role:</label>
            <input type="text" class="form-control" formControlName="jobrole">
            </div>
    </div>
</div>
<div class="row mt-2">
    <div class="form-group">
        <label >Upload Resume:</label>
        <input type="file" class="form-control" formControlName="resume" (change)="onSelectFile($event)">
    </div>
</div>
<div class="text-center">
    <button mat-raised-button mat-dialog-close>Close</button> &nbsp;
    <button mat-raised-button color="primary" (click)="applyJob()">Submit</button>
</div>
    </form>
</div>