.head{
    text-align: center;
    color: black;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
.close{
    color: red;
    font-size: 20px;
}
.name{
    font-size: 16px;
    font-weight: bold;
    color: darkmagenta;
    letter-spacing: 1px;
    font-style: oblique;
}
.details{
    font-size: 13px;
    color: black;
    float: right;
}
.tablehead{
    width: 100%;
    
  } 
  .title1{
    background-color: rgb(232, 231, 231);
    border-radius: 15px;
    width: 95%;
    margin: auto;
  }
  .feename{
    color: cornflowerblue;
      font-weight: 500;
  }
  