.close{
    color: red;
}
.details{
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: darkviolet;
    font-family: -webkit-body;
    letter-spacing: 2px;
}
.GD{
    color: blueviolet;
    letter-spacing: 1px;
    font-family: emoji;
}