.search-student-btn .btn-primary {
    min-width: 135px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 9px 15px;
    background-color: #403776;
    color: gold;
}
body {
    margin: 2rem 0rem;  
  }
  
  h4 {
    margin: 3rem 0rem 2rem;
  }
  .head{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}
.heading{
    background-color: lightblue;
    height: 30px;
    vertical-align: middle;
}
.heading1{
  background-color: #403776;
  height: 50px;
  line-height: 2;
  color: gold;
  font-size: 14px;
}
.title{
  text-align: center;
  background-color: black;
  border-radius: 15px;
  width: 95%;
  margin: auto;
}
.Cname{
  color: #fff;
  margin-top: revert;
  font-weight: 600;
  font-style: inherit;
}
.title1{
  background-color: rgb(232, 231, 231);
  border-radius: 15px;
  width: 95%;
  margin: auto;
}
.tablehead{
  width: 100%;
  
}
.tablehead1{
  width: 20%;
}
.tablehead2{
  width: 60%;
}
.tablehead3{
  width: 20%;
}
.feename{
  color: cornflowerblue;
    font-weight: 500;
}
.form-control{
    background-color: floralwhite;
    border-color: rgb(228, 136, 16);
    color: black;
    font-weight: 500;
}
.nav-pills .nav-link.active{
  background-color: midnightblue;
}
.btn-primary{
  background-color: royalblue;
}
.table{
  width: 98%;
  margin-right: auto;
}
.edit{
  cursor: pointer;
  color: rgb(146, 155, 255);
}
.edit:hover{
  color: blue;
}

