<div class="container">
    <div class="row g-0">
        <h2 class="bg-dark text-white text-center p-1">List of Faculty Emplyoees</h2>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h2> Enter Emplyoee Id : </h2>
        </div>
        <div class="col-sm-7">
            <input type="text" class="form-control form-control-sm text text-primary" placeholder="Enter Employee Id"
                [(ngModel)]="this.SearchValue">
        </div>
        <div class="col-sm-2">
            <button class="btn btn-info btn-sm" (click)="searchEmp()">Search</button>
        </div>

    </div>

</div>


<div class="container">

    <div *ngFor="let f of employees index as i">
        <div class="container fw-bold">
            <p class="sno">{{i+1}}</p>
            <div class="row">
                <div class="col-sm-2">
                    <div class="card border-0">
                        <div class="card-body text-center">
                            <img src="{{f.photo}}" alt="avatar" width="100%" height="100px">
                            <h3 class="mb-0">{{f.empid}}</h3>
                            <span class="mb-2">{{f.name}}</span><br>
                            <span class="mb-2">{{f.designation}}</span> <br>
                            <span class="text-muted mb-4">{{f.qualification}} | {{f.department}}</span>
                            <p class="yoe">Year Of Experience {{f.yearofexperience}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mt-4">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">{{f.name}}</p>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-primary mb-0">{{f.emailid}}</p>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-success mb-0">{{f.mobileno}}</p>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <p class="mb-0">Type</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">{{f.typeofemployee}}</p>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <p class="mb-0">Joined Date</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">{{f.joiningdate}}</p>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <p class="mb-0">Salary</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">{{f.salary}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 mt-4">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <p class="mb-0">Bank Name</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">{{f.bankname}}</p>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <p class="mb-0">Account No.</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">{{f.bankaccountno}}</p>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <p class="mb-0">IFSC Code</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">{{f.ifsccode}}</p>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <p class="mb-0">Branch Name</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">{{f.branchname}}</p>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <p class="mb-0">Pancard No.</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">{{f.pancardno}}</p>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-sm-4">
                                    <p class="mb-0">Address</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">{{f.address}}, {{f.city}}, {{f.state}}, {{f.pincode}}.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 mt-4">
                    <div class="row g-0 text-center">
                        <div>
                            <i class="bi bi-pencil-square edit" (click)="editEmp(f)"></i><br>
                            <span>Edit</span>
                            <hr>
                            <i class="bi bi-trash3  delete" (click)="deleteEmp(f)"></i><br>
                            <span>Delete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>