.q {
    font-size: 13px;
}

.card {
    border-radius: 2rem;
    border: 0;
    color: black;
}

.card-body {
    background: transparent;
}

.details {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}