.card{

    width: 95%;
    margin: auto;
}
.form-control{
    background-color: #fff;
}
.form-select{
    background-color: #fff;
}
h5{
    margin-block-start: 1.2em;
    margin-block-end: 1.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 18px;
    font-weight: 500;
    color: blue;
    font-family: initial;
}
.btn{
    padding: 0.5rem 3rem;
    background: #3D5EE1;
    color: #fff;
}
.head{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

