<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav " fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <a routerLink="officer-home"><img class="logo" src="/assets/images/bitslogo.jpg" alt="logo"></a>
      <mat-divider></mat-divider>
    <mat-nav-list>
       <a mat-list-item routerLink="placement-jobs" routerLinkActive="active"> <i class="bi bi-briefcase"></i>&nbsp; Applied Students</a>
      <a mat-list-item routerLink="placement-profile" routerLinkActive="active"><i class="bi bi-person"></i>&nbsp; Company-Profile</a>
     
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span >BITS Placement-Cell</span>
      <span style="flex:1 1 auto ;"></span>
      <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
    </mat-toolbar>
  <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
