<div >
    <form [formGroup]="editbookform">
      <mat-toolbar color="accent">Edit Books</mat-toolbar>
           <mat-form-field appearance="outline" class="mt-3">
            <mat-label>Book Name</mat-label>
            <input matInput placeholder="Enter Bookname" formControlName="bookname">
           </mat-form-field>

           <mat-form-field appearance="outline">
            <mat-label>Author</mat-label>
            <input matInput placeholder="Enter Author name" formControlName="author">
           </mat-form-field>

           <mat-form-field appearance="outline">
            <mat-label>Select Department</mat-label>
           <mat-select formControlName="department">
            <mat-option value="EEE">EEE</mat-option>
            <mat-option value="MECH">MECH</mat-option>
            <mat-option value="CSE">CSE</mat-option>
            <mat-option value="ECE">ECE</mat-option>
            <mat-option value="IT">IT</mat-option>
           </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput placeholder="Enter Price" type="number" formControlName="price">
           </mat-form-field>

           <mat-form-field appearance="outline">
            <mat-label>Quantity</mat-label>
            <input matInput placeholder="Enter Quantity" type="number" formControlName="quantity">
           </mat-form-field>

           <div class="text-center">
            <button mat-raised-button color="warn" class="me-2" mat-dialog-close>cancel</button>
            <button mat-raised-button color="primary" (click)="updateBooks()"  >Update</button>
        </div>
   
    </form>
</div>