.head {
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 30px;

}

.head1 {
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 24px;
}

.card {
    border-radius: 2%;
    background-color: #d5d3e5;
}

.head1 {
    background-color: #0e293b;
    color: whitesmoke;
    border-radius: 2%;
}

.card-body {
    border-radius: 2%;
    font-family: 'Times New Roman';
    font-weight: bold;
}
.gs{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 22px;
}
.btn {
    width: 60%;
    background: #3D5EE1;
    color: #fff;
}

input {
    border: 0;
    border-radius: 1rem;
}

select {
    border: 0;
    border-radius: 1rem;
}