
.head{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
}
.heading{
    background-color:#403776;
    color: #f8cf03;
    height: 55px;
    font-size: 14px;
}
.table thead th{
    vertical-align:middle;
} 
.nav-pills .nav-link.active{
    background-color: midnightblue;
  }