
.main{
    color: darkorange;
    font-size: 22px;
    font-weight: unset;
    letter-spacing: 2.5px;
    font-family: math;
}
.close{
    font-size: 25px;
    color: red;
    font-weight: 500;
}
.id{
    margin-left: 12px;
    color: blue;
    font-weight: bold;
}
.name{
    margin-left: 14px;
    font-size: 15px;
    color: mediumpurple;
    font-weight: 400;
}
.Gdetails{
    border: 2px solid #8888;
    border-radius: 7px;
    background-color: antiquewhite;
    box-shadow: 10px 10px #8888;
   
  
}
.Bdetails{
    border: 2px solid #8888;
    border-radius: 7px;
    background-color: rgb(148, 206, 236);
    box-shadow: 10px 10px #8888;
}
.GD{
    color: maroon;
}
.BD{
    color: maroon;
}