.head {
    background-color: rgb(37, 7, 58);
}

.logo {
    width: 90%;
    border-radius: 50%;
    height: 50px;
}
.navbar-toggler {
    background-color: rgb(251, 245, 245);
}
.btn1 {
    background-color: green;
    color: whitesmoke;
    border: 0;
}

.btn2 {
    background-color: rgb(193, 163, 15);
    color: whitesmoke;
    border: 0;
}
.img{
   width: 100%; 
}