.head {
    background-color: rgb(37, 7, 58);
}

.logo {
    width: 90%;
    border-radius: 50%;
    height: 50px;
}

.card {
    background-color: whitesmoke;
}

.gs {
    border-radius: 20px;
}

.bg-indigo {
    background-color: #4835d4;
    border-radius: 20px;
}