<div class="card p-4 m-4 text-center">
    <div class="row">
        <h1 mat-dialog-title>Delete Student</h1>
        <div class="col-sm-12">

            <div mat-dialog-content>
                Are You sure wanted to Delete this Student?
            </div>
        </div>
    </div>
    <div class="row m-auto">
        <div class="">
            <div mat-dialog-actions>
                <button mat-button mat-dialog-close>No</button>
                <button mat-dialog-close mat-button color="primary" cdkFocusInitial
                    (click)="deleteStudent()">Yes</button>
            </div>
        </div>
    </div>
</div>