<nav class="navbar navbar-expand-lg head">
    <a routerLink="/logins-page"><img class="logo" src="/assets/images/bitslogo.jpg" alt="logo"></a>
    <a class="navbar-brand m-2 text-white" routerLink="/logins-page">BRIGHT INSTITUTE OF SCIENCE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="container-fluid main">
    <div class="container adminlogin">
        <div class="row m-auto">
            <div class="col-sm-8 m-auto">
                <div class="shadow">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <img src="/assets/images/adminlogo.jpg" alt="" height="370">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-3">
                                    <div class="mb-1 mt-2">
                                        <h1 class="text-center text-theme">Admin Login</h1>
                                    </div>
                                    <hr>
                                    <form [formGroup]="AdminLoginForm" (ngSubmit)="adminlogin()">
                                        <div class="form-group mt-4 mb-4">
                                            <label class="mb-2">User Name</label>
                                            <input type="text" 
                                                   class="form-control"
                                                   id="exampleInputName"
                                                   formControlName="username"
                                                   [class.is-invalid]="AdminLoginForm.controls.username.invalid && AdminLoginForm.controls.username.touched">
                                                   <div class="text-danger"
                                                   *ngIf="AdminLoginForm.controls.username.touched  && AdminLoginForm.controls.username.errors?.required">
                                                    UserName is required
                                                   </div>
                                                   <div class="text-danger"*ngIf="AdminLoginForm.controls.username.errors?.username">
                                                     Enter a valid UserName
                                                   </div>
                                        </div>
                                        <div class="form-group mb-4">
                                            <label class="mb-2">Password</label>
                                            <input type="password" 
                                                   class="form-control"
                                                   id="exampleInputPassword1"
                                                   formControlName="password"
                                                   [class.is-invalid]="AdminLoginForm.controls.password.invalid && AdminLoginForm.controls.password.touched">
                                                   <div class="text-danger" *ngIf="AdminLoginForm.controls.password.touched  && AdminLoginForm.controls.password.errors?.required">
                                                    Please Enter a Password
                                                  </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-sm btn-theme" [disabled]="this.AdminLoginForm.invalid">Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
