.main{
    color: darkorange;
    font-size: 22px;
    font-weight: unset;
    letter-spacing: 2.5px;
    font-family: math;
}
.close{
    font-size: 25px;
    color: red;
    font-weight: 500;
}
.generaldetails{
    color: darkorchid;
    font-family: none;
    font-size: 18px;
}
.left{
    color: blue;
}